body {
    margin: 0;
    padding: 0;
    /* background-color: white; */
    background-color: #EEEEEE;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: #333
}

.container {
    background-color: white;
    box-shadow: 1px 2px 3px #dddddd;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container-v1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr)
}

#dhead {
    margin-top: 20px
}

#dpic {
    grid-column: span 6;
    text-align: right
}

#ddesc {
    padding-top: 45px;
    padding-left: 15px;
    grid-column: span 6;
    /* margin-left: 15px; */
}

@media (max-width:991px) {
    #dpic {
        grid-column: span 12;
        text-align: center
    }
    #ddesc {
        grid-column: span 12;
        padding-top: 20px;
        text-align: center
    }
}

h1 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 0
}

h2 {
    font-weight: 400;
    font-style: italic;
    color: #999;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0
}

@media (min-width:992px) {
    h2 {
        max-width: 300px
    }
}

#dpic img {
    width: 200px;
    height: 200px;
    border-radius: 150px
}

.iico {
    width: 30px;
    height: 30px;
}

#emaildiv {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    opacity: 0; 
    transition: opacity .7s
}

hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
    padding: 0;
    margin: 20px 0 20px 0;
    border: 0
}

.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #000;
    position: relative
}

.ico img {
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
    border: .1px solid grey
}

.desc {
    margin-bottom: 30px;
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px
}

.entry-dot {
    position: absolute;
    top: 0;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #000;
    border: 2px solid #f5f5f5
}

.timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 8%;
    color: #000
}

#where {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}

.stitle {
    font:  24px 'Source Serif Pro', Georgia, "Times New Roman", serif;
    margin-bottom: 10px;
    font-style: bold;
    height: auto;
    width: auto;
}

.separator {
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}